{% extends 'base.html' %}
{% block title %}节点{% endblock %}
{% block nav-item-2 %}layui-nav-itemed{% endblock %}
{% block nav-this-2-1 %}layui-this{% endblock %}
{% block content %}
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <button class="layui-btn" style="float: left">创建</button>
                    <input type="text" name="name" class="layui-input"
                           style="width: 150px;float: left;margin-left: 20px">
                    <button class="layui-btn" style="float: left" id="searchBtn">搜索</button>
                </div>
                <div class="layui-col-md12">
                    <table class="layui-hide" id="test" lay-filter="test"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="yaml">YAML</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

{% endblock %}
